<!DOCTYPE html>

<html lang="fr">

<head>
  <%- include('../partials/head') %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header') %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Contacter moi: </h1>
      <table>
        <tr>
          <td>Nom:</td>
          <td>Catuneanu</td>
        </tr>
        <tr>
          <td>Prenom:</td>
          <td>Adrian</td>
        </tr>
        <tr>
          <td>Adresse Postale:</td>
          <td>J7R3L7</td>
        </tr>
        <tr>
          <td>Courriel:</td>
          <td>adinone3@gmail.com</td>
        </tr>
        <tr>
          <td>Telephone:</td>
          <td>514-654-0551</td>
        </tr>
      </table>
    </div>
  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>

</body>

</html>